<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="POST">
        {% csrf_token %}
        <!-- Enter the messag -->
        {{form}}
        <input type="submit" value="Submit">
    </form>






<table style="border: 1px solid black;">
    <tr>
      <th>Message</th>
      <th>Phone</th>
  
    </tr>


    {% for task in tasks %}
    <tr>
      <td>{{task.msg}}</td>
      <td>{{task.ph}}</td>

    </tr>
    {% endfor %}
  </table>
  






</body>
</html>